.hero {
  text-align: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .container {
  width: 100%;
}

.hero__cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  background: #445;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .hero__cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  background: #445;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
}

@media (max-width: 992px) {
  .hero__title {
    font-size: 20px;
  }
}

@media (max-width: 578px) {
  .hero__title {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  .hero__title {
    display: none;
  }
}

.hero__colors-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  padding-bottom: 40px;
}

@media (max-width: 400px) {
  .hero__colors-list {
    gap: 5px;
  }
}

.hero__colors-item {
  border-radius: 15px;
  width: 80px;
  height: 50px;
  position: relative;
  background: #223;
  -webkit-transition: background .3s;
  transition: background .3s;
}

@media (max-width: 550px) {
  .hero__colors-item {
    width: 55px;
  }
}

.hero__colors-item-btn {
  border: none;
  background: #223;
  position: absolute;
  bottom: -45px;
  color: #fff;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
  opacity: .35;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

@media (max-width: 550px) {
  .hero__colors-item-btn {
    width: 25px;
    height: 25px;
    font-size: 16px;
  }
}

.hero__colors-item-btn_1 {
  left: 0;
}

.hero__colors-item-btn_2 {
  right: 0;
}

.hero__colors-item:first-child .hero__colors-item-btn, .hero__colors-item:last-child .hero__colors-item-btn {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero__gradient {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin-left: 20%;
  border-radius: 15px;
  background: #223;
}

@media (max-width: 992px) {
  .hero__gradient {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-left: 0;
    height: 50px;
    width: 100%;
    margin-top: 30px;
  }
}

.hero__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  background: #445;
  padding: 15px;
  border-radius: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 145px;
          flex: 0 0 145px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__color-input {
  overflow: hidden;
}

.hero__color-input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.hero__color-input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.hero__color-input[type="color"]::-webkit-color-swatch {
  border: none;
}

.hero__counter {
  padding: 15px;
  border-radius: 15px;
  background: #445;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 145px;
          flex: 0 0 145px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.hero__counter-btn {
  background: none;
  border: none;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 20px;
  background: #223;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  cursor: pointer;
}

.hero__counter-current {
  font-size: 20px;
  color: #fff;
}

.hero__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 25px;
}

.hero__modes {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 145px;
          flex: 0 0 145px;
  border-radius: 15px;
  background: #445;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__modes-btn {
  display: block;
  background: #223;
  padding: 10px;
  color: #fff;
  font-family: 'Roboto',sans-serif;
  border: none;
  cursor: pointer;
}

.hero__modes-btn_1 {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.hero__modes-btn_2 {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.hero__repeat-btn {
  background: #445;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 145px;
          flex: 0 0 145px;
  border-radius: 15px;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.hero__repeat-btn img {
  width: 40px;
}

.hero__status {
  background: #445;
  color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Fira sans', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  border-radius: 15px;
  padding: 0 15px;
}

@media (max-width: 992px) {
  .hero__status {
    font-size: 20px;
  }
}

@media (max-width: 578px) {
  .hero__status {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  .hero__status {
    display: none;
  }
}

.hero__open-btn {
  background: #445;
  padding: 15px;
  border-radius: 15px;
  border: none;
  color: #fff;
  margin-top: 20px;
  font-size: 22px;
  display: inline-block;
  -webkit-transition: oapcity .35s;
  transition: oapcity .35s;
}

.pop-up {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: -100vh;
  opacity: 0;
  left: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.pop-up__body {
  position: relative;
  max-width: 470px;
  background: #fff;
  border-radius: 15px;
  padding: 25px;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  -webkit-transition: -webkit-transform .5s .5s;
  transition: -webkit-transform .5s .5s;
  transition: transform .5s .5s;
  transition: transform .5s .5s, -webkit-transform .5s .5s;
}

.pop-up_active {
  top: 0;
}

.pop-up_active .pop-up__body {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.pop-up__title {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.pop-up__text {
  margin-bottom: 15px;
}

.pop-up__colors-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pop-up__colors-item {
  text-align: center;
}

.pop-up__colors-item__color {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  margin: 0 auto 5px auto;
}

.pop-up__close-btn {
  margin-top: 15px;
  background: #445;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
}

.pop-up__close-btn span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  color: #fff;
  font-size: 20px;
}
