* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  background: #223;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

h2, h2, h3 {
  font-family: 'Fira Sans', sans-serif;
}

ul {
  list-style: none;
}

button {
  -webkit-transition: background .3s;
  transition: background .3s;
}

button:hover {
  background: #3f3f4c;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 3;
}

.header .container {
  min-height: 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  width: 100px;
}

@media (max-width: 992px) {
  .header__menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: -100vh;
    left: 0;
    background: #fff;
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: top .3s;
    transition: top .3s;
  }
}

.header__menu_active {
  top: 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__item:not(:last-child) {
  margin-right: 23px;
}

@media (max-width: 992px) {
  .header__item:not(:last-child) {
    margin-right: 0;
  }
}

.header__link {
  text-decoration: none;
  color: #223;
}

.header__link_active {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .header__link {
    display: block;
    text-align: center;
    font-size: 24px;
    padding-bottom: 15px;
  }
}

.header__menu-btn {
  background: none;
  border: none;
  width: 40px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  position: relative;
  z-index: 5;
}

@media (max-width: 992px) {
  .header__menu-btn {
    display: block;
  }
}

.header__menu-btn span {
  display: block;
  position: relative;
  width: 100%;
  height: 1.5px;
  background: #000;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.header__menu-btn span::before {
  content: '';
  display: block;
  width: 100%;
  height: 1.5px;
  background: #000;
  position: absolute;
  top: -11px;
  -webkit-transition: top .3s, -webkit-transform .3s;
  transition: top .3s, -webkit-transform .3s;
  transition: top .3s, transform .3s;
  transition: top .3s, transform .3s, -webkit-transform .3s;
}

.header__menu-btn span::after {
  content: '';
  display: block;
  width: 100%;
  height: 1.5px;
  background: #000;
  position: absolute;
  top: 11px;
  -webkit-transition: top .3s, -webkit-transform .3s;
  transition: top .3s, -webkit-transform .3s;
  transition: top .3s, transform .3s;
  transition: top .3s, transform .3s, -webkit-transform .3s;
}

.header__menu-btn_active span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__menu-btn_active span::after {
  top: 0;
}

.header__menu-btn_active span::before {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

body {
  position: relative;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 3;
  background: #fff;
}

.footer__copy {
  color: #223;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 91px;
}

::-webkit-scrollbar {
  display: none;
}
