.hero {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .container {
  padding-top: 105px;
  padding-bottom: 105px;
  width: 100%;
}

.hero__loader {
  display: block;
  margin: 0 auto;
}

.hero__list {
  padding-top: 15px;
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

@media (max-width: 992px) {
  .hero__list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .hero__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 578px) {
  .hero__list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
}

.hero__list_active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.hero__item {
  padding: 15px;
  border-radius: 15px;
  background: #445;
}

.hero__item-link {
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.hero__item-author {
  padding-bottom: 10px;
}

.hero__item-title {
  margin-top: auto;
}

.hero form {
  padding: 15px;
  background: #445;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 320px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  gap: 15px;
}

.hero form input,
.hero form button {
  background: none;
  border: none;
}

.hero form input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  color: #fff;
}

.hero form input:focus {
  outline: none;
}

.hero form input::-webkit-input-placeholder {
  color: #fff;
  font-family: "Fira Sans", sans-serif;
}

.hero form input:-ms-input-placeholder {
  color: #fff;
  font-family: "Fira Sans", sans-serif;
}

.hero form input::-ms-input-placeholder {
  color: #fff;
  font-family: "Fira Sans", sans-serif;
}

.hero form input::placeholder {
  color: #fff;
  font-family: "Fira Sans", sans-serif;
}

.hero form input:focus::-webkit-input-placeholder {
  font-size: 0;
}

.hero form input:focus:-ms-input-placeholder {
  font-size: 0;
}

.hero form input:focus::-ms-input-placeholder {
  font-size: 0;
}

.hero form input:focus::placeholder {
  font-size: 0;
}
